<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Import\Product" type="Magento2\MongoImportExport\Model\Import\Product" />
    <preference for="Magento\GroupedImportExport\Model\Import\Product\Type\Grouped" type="Magento2\MongoImportExport\Model\Import\Product\Type\Grouped" />
    <preference for="Magento\GroupedImportExport\Model\Import\Product\Type\Grouped\Links" type="Magento2\MongoImportExport\Model\Import\Product\Type\Grouped\Links" />
</config>
